acme==0.27.0
asn1crypto==0.24.0
certbot==0.27.0
certbot-nginx==0.26.0
certifi==2018.8.24
chardet==3.0.4
command-not-found==0.3; sys_platform == 'debian'
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.3
distro-info==0.18; sys_platform == 'debian'
Django==2.2.7
entrypoints==0.2.3.post3; sys_platform == 'debian'
future==0.15.2
gunicorn==20.0.0
idna==2.6
josepy==1.1.0
keyring==15.1.0
keyrings.alt==3.1
language-selector==0.1; sys_platform == 'debian'
mock==2.0.0
netifaces==0.10.4
parsedatetime==2.4
pbr==4.2.0
psycopg2-binary==2.8.4
psycopg2
pycrypto==2.6.1
PyGObject==3.30.1
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyRFC3339==1.1
python-apt==1.7.0; sys_platform == 'debian'
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.3.0
ssh-import-id==5.7; sys_platform == 'debian'
ufw==0.35; sys_platform == 'debian'
unattended-upgrades==0.1; sys_platform == 'debian'
urllib3==1.24.2
virtualenv==16.7.7
zope.component==4.3.0; sys_platform == 'debian'
zope.event==4.2.0; sys_platform == 'debian'
zope.hookable==4.0.4; sys_platform == 'debian'
zope.interface==4.3.2; sys_platform == 'debian'
