{% extends "main_app/base.html" %}
{% load static %}
{% block head %}
<link href="{% static 'main_app/css/details.css' %}" rel="stylesheet">
{% endblock head %}
{% block content %}
<!-- Page Header -->
<section class="bg-primary" id="asset-header">
  <div class="container">
    <div class="row justify-content-between m-0 p-0">
      <div>
        {% if country.0 == 'G' %}
          <h3 class="text-gray-5 m-0">All Countries</h3>
        {% else %}
          <h3 class="text-gray-5 m-0">{{ country.1 }}</h3>
        {% endif %}
        <h2 class="text-white m-0">
          {% if country.0 != 'G' %}
            {% with 'main_app/svg/flags/'|add:country.0|lower|add:'.svg' as flag_static %}
              <img class="country-flag-lg" src="{% static flag_static %}">
            {% endwith %}
          {% elif country.0 == 'G' and type.0 == 'cmdty' %}
            <img class="country-flag-lg" src="{% static 'main_app/svg/flags/g.svg' %}">
          {% else %}
            {% with 'main_app/svg/flags/'|add:type.0|lower|add:'.svg' as flag_static %}
              <img class="country-flag-lg" src="{% static flag_static %}">
            {% endwith %}
          {% endif %}
           {{ type.1 }}</h2>
        <i class="text-gray-5">As of {{ time }} CT.</i>
      </div>
      <div class="h-100 align-self-center">
        <div class="dropdown show">
          <a class="btn btn-primary-dark btn-wide dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Country
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'all-assets' 'us' type.1|lower %}">United States</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'jp' type.1|lower %}">Japan</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'uk' type.1|lower %}">United Kingdom</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'hk' type.1|lower %}">Hong Kong</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'ch' type.1|lower %}">China</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'ca' type.1|lower %}">Canada</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'ge' type.1|lower %}">Germany</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'au' type.1|lower %}">Australia</a>
          </div>
        </div>
        <div class="dropdown show mt-2">
          <a class="btn btn-primary-dark btn-wide dropdown-toggle m-0 w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Type
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'all-assets' 'g' 'commodities' %}">Commodities</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'g' 'currencies' %}">Currencies</a>
            <a class="dropdown-item" href="{% url 'all-assets' 'g' 'cryptocurrencies' %}">Cryptocurrencies</a>
            <a class="dropdown-item" href="{% url 'all-assets' country.0|lower 'stocks' %}">Stocks</a>
            <a class="dropdown-item" href="{% url 'all-assets' country.0|lower 'indices' %}">Indices</a>
            <a class="dropdown-item" href="{% url 'all-assets' country.0|lower 'etfs' %}">ETFs</a>
            <a class="dropdown-item" href="{% url 'all-assets' country.0|lower 'bonds' %}">Bonds</a>
            <a class="dropdown-item" href="{% url 'all-assets' country.0|lower 'funds' %}">Funds</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark m-0 mt-1 p-0">
  <div class="container overflow-auto pt-4">
    <table class="market-table mb-3 table-striped shadow table-hover"></table>
  </div>
  <div class="text-center pb-4">
    <button class="btn btn-primary-dark btn-wide" id='expand'>Expand</button>
  </div>
</section>
{% endblock content %}
{% block bodyend %}
  <script src="{% static 'main_app/js/table.js' %}"></script>
{% endblock bodyend %}