{% extends "main_app/base.html" %}
{% load static %}
{% block head %}
<link href="{% static 'main_app/css/details.css' %}" rel="stylesheet">
<link href="{% static 'main_app/css/switch.css' %}" rel="stylesheet">
{% endblock head %}
{% block content %}
<!-- Page Header -->
<section class="bg-primary" id="asset-header">
  <div class="container">
    <div class="row justify-content-between m-0 p-0">
      <div>
        <h3 class="text-gray-5 m-0">{{ asset.long_name }}</h3>
        <h2 class="text-white m-0">
          {% if asset.country != 'G' %}
            {% with 'main_app/svg/flags/'|add:asset.country|lower|add:'.svg' as flag_static %}
              <img class="country-flag-lg" src="{% static flag_static %}">
            {% endwith %}
          {% elif asset.country == 'G' and asset.Type == 'cmdty' %}
            <img class="country-flag-lg" src="{% static 'main_app/svg/flags/g.svg' %}">
          {% else %}
            {% with 'main_app/svg/flags/'|add:asset.Type|lower|add:'.svg' as flag_static %}
              <img class="country-flag-lg" src="{% static flag_static %}">
            {% endwith %}
          {% endif %}
          
          {{ asset.short_name }}
        </h2>
        <h2 class="text-white m-0">{{ data.last_price }} 
          {% if not data.change_perc %}
            <span class="text-white">
              N/A
          {% else %}
            {% if data.change_perc.0 == '-' %}
              <span class="text-danger"><i class="fas fa-arrow-down"></i>
            {% elif data.change_perc.0 == '0' %}
              <span class="text-white">
            {% else %}
              <span class="text-success"><i class="fas fa-arrow-up"></i>
            {% endif %}
              {{ data.change }} ({{ data.change_perc }})
          {% endif %}
            </span>
        </h2>
        <i class="text-gray-5">As of {{ data.time }} CT.</i>
      </div>
      <div class="h-100 align-self-center">
        <a class="btn btn-primary-dark btn-wide js-scroll-trigger" href="#details">
          <h5 class="my-1 font-weight-bold">Explore!</h3>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Chart -->
<div class="bg-dark py-3 mt-1">
  <div class="container p-0">
    <div class="row pb-2 justify-content-around" id="chart-header">
      <div class="dropdown show mr-2">
        <a class="btn btn-secondary dropdown-toggle m-0 w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Chart type
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" data-toggle="buttons">
          <label class="btn dropdown-item">
            <input type="radio" id="candle" autocomplete="off">
            <img class="country-flag-md mr-2" src="{% static 'main_app/svg/charts/candlestick.svg' %}">Candlesticks
          </label>
          <label class="btn dropdown-item active">
            <input type="radio" id="line" autocomplete="off" checked>
            <img class="country-flag-md mr-2" src="{% static 'main_app/svg/charts/line.svg' %}">Line Chart</a>
          </label>
        </div>
      </div>
      <div class="switch switch-xs switch-label-onoff pl-0 mr-2 d-flex fl justify-content-center">
        <h6 class="text-white m-0 mr-2 py-2 mt-1">Dark mode </h6>
        <div class="py-2">
          <input class="switch-input" id="switch" type="checkbox" :checked>
          <label class="switch-btn" for="switch"></label>
        </div>
      </div>
    </div>
    <div id="chart">
      <!-- JS Chart goes here -->
    </div>
    <div class="switcher" data-toggle="buttons">
      <label class="btn switcher-item active">
        <input type="radio" id="1D" autocomplete="off" checked>1D
      </label>
      <label class="btn switcher-item">
        <input type="radio" id="5D" autocomplete="off">5D
      </label>
      <label class="btn switcher-item">
        <input type="radio" id="1M" autocomplete="off">1M
      </label>
      <label class="btn switcher-item">
        <input type="radio" id="3M" autocomplete="off">3M
      </label>
      <label class="btn switcher-item">
        <input type="radio" id="6M" autocomplete="off">6M
      </label>
      <label class="btn switcher-item">
        <input type="radio" id="1Y" autocomplete="off">1Y
      </label>
      <label class="btn switcher-item">
        <input type="radio" id="5Y" autocomplete="off">5Y
      </label>
      <label class="btn switcher-item">
        <input type="radio" id="Max" autocomplete="off">Max
      </label>
    </div>
  </div>
</div>
<!-- Details of security -->
<section class="bg-primary py-3" id="details">
  <div class="container p-0 align-middle">
    <h3 class="text-white px-3">Details</h3>
    <table class="mb-3">
      <tbody>
        {% for pair in data_pairs %}
          <tr class="row">
            <td class="row col-sm-6">
              <div class="col-sm-6 p-0">
                {{ pair.0.0 }}
              </div>
              <div class="col-sm-6 p-0">
                <span class="text-gray-5">
                  {% if pair.0.1 %}
                    {{ pair.0.1 }}
                  {% elif pair.0.1 %}
                    N/A
                  {% endif %}
                </span>
              </div>
            </td>
            <td class="row col-sm-6">
              <div class="col-sm-6 p-0">
                {{ pair.1.0 }}
              </div>
              <div class="col-sm-6 p-0">
                <span class="text-gray-5">
                  {% if pair.1.1 %}
                    {{ pair.1.1 }}
                  {% elif pair.1.0 %}
                    N/A
                  {% endif %}
                </span>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<!-- Similar carousel -->
<section class="page-section mt-1 m-0 p-0 bg-dark">
  <div class="p-3">
    <div class="container">
      <h3 class="text-white text-align-center ml-0 mb-3"><i class="fas fa-glasses"></i> Explore more</h3>
      <div class="row" id="market-carousel">
      {% for dct in similars %}
        <a href="{% url 'asset-details' dct.static.country|lower dct.static.Type dct.static.id %}">
          <div class="card asset-card card mr-3">
            <div class="row mb-1">
              <span class="long-name">{{ dct.static.long_name }}</span>
            </div>
            <div class="row justify-content-between">
              <span class="short-name">{{ dct.static.short_name }}</span>
                <div class="row">
                {% if not dct.live.change_perc %}
                  <span class="change text-white">N/A</span>
                {% else %}  
                  {% if dct.live.change_perc.0 == '+' %}
                  <span class="change up">{{ dct.live.change_perc }}</span>
                  {% elif dct.live.change_perc.0 == '0' %}
                  <span class="change text-white">{{ dct.live.change_perc }}</span>
                  {% else %}
                  <span class="change down">{{ dct.live.change_perc }}</span>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- Feed Section -->
<section class="page-section" id="feed">
  <div class="container h-100">
    <h2 class="mt-0"><i class="fa fa-1x fa-globe text-primary-dark"></i> Related News</h2>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-between news-card p-0 mt-4">
      <!-- Title -->
      <div class="col-lg-9 news-title">
        <a href="#">
          <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
          </h3>
        </a>
        <div class="news-short">
          <!-- Short content -->
          <a href="#">
            <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
              various securities, data analysis reports, as well as a general...</p>
          </a>
        </div>
      </div>
      <!-- Picture -->
      <div class="col-lg-3 news-pic pr-3 p-0">
        <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block bodyend %}
<script type="module" src="{% static 'main_app/js/chart.js' %}"></script>
{% endblock bodyend %}