{% extends "main_app/details_base.html" %}
{% load static %}
{% block content %}

<!-- Page Header -->
  <section class="bg-primary" id="asset-header">
    <div class="container">
      <h3 class="text-gray-5 m-0">McDonald's Corporation</h3>
      <h2 class="text-white m-0">MCD 198.04<span class="text-danger"> -2.7 (-0.5)</span></h2>
      <i class="text-gray-5">As of 1:53PM CT.</i>
    </div>
  </section>

  <!-- Details of security -->
  <section class="page-section py-3">
    <div class="container p-0">
      <div class="card bg-dark p-3">
        <div id="chart">
        <!-- JS Chart goes here -->
        </div>
      </div>
      <div class="my-auto">
        <h2 id="sec-det-header">Details</h2>
        <table class="table table-striped table-hover m-0">
          <tbody>
            <tr>
              <td class="border-right">Last close: <span class="font-weight-normal">198.40</span></td>
              <td>Open: <span class="font-weight-normal">199.46</span></td>
            </tr>
            <tr>
              <td class="border-right">Last close: <span class="font-weight-normal">198.40</span></td>
              <td>Open: <span class="font-weight-normal">199.46</span></td>
            </tr>
            <tr>
              <td class="border-right">Last close: <span class="font-weight-normal">198.40</span></td>
              <td>Open: <span class="font-weight-normal">199.46</span></td>
            </tr>
            <tr>
              <td class="border-right">Last close: <span class="font-weight-normal">198.40</span></td>
              <td>Open: <span class="font-weight-normal">199.46</span></td>
            </tr>
            <tr>
              <td class="border-right">Last close: <span class="font-weight-normal">198.40</span></td>
              <td>Open: <span class="font-weight-normal">199.46</span></td>
            </tr>
            <tr>
              <td class="border-right">Last close: <span class="font-weight-normal">198.40</span></td>
              <td>Open: <span class="font-weight-normal">199.46</span></td>
            </tr>
            <tr>
              <td class="border-right">Last close: <span class="font-weight-normal">198.40</span></td>
              <td>Open: <span class="font-weight-normal">199.46</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <!-- Similar carousel -->
  <section class="page-section m-0 my-1 p-0 bg-primary">
    <div class="container">
      <h1 class="py-3 text-white"><i class="fas fa-glasses"></i> Explore more</h1>
    </div>
    <div class="row">
      <div class="col-lg-12 p-0 mb-3">
        <div class="scrolling-wrapper-flexbox input-group-btn px-2 py-4 bg-primary border-0 border-radius-0">
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <a href="#">
                  <h4 class="text-muted">McDonald's Corporation</h3>
                    <h3>MCD<span class="text-danger"> -2.7 (-0.5)</span></h2>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <hr>
  <!-- Feed Section -->
  <section class="page-section" id="feed">
    <div class="container h-100">
      <h2 class="mt-0"><i class="fa fa-1x fa-globe text-primary-dark"></i> Related News</h2>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-between news-card p-0 mt-4">
        <!-- Title -->
        <div class="col-lg-9 news-title">
          <a href="#">
            <h3 class="font-weight-bold">Bulls and Bears of the alright week: Ford, Intel McDonalds, Twitter and more
            </h3>
          </a>
          <div class="news-short">
            <!-- Short content -->
            <a href="#">
              <p class="text-dark-75 font-weight-light">Get the latest financial market news, information & quotes of
                various securities, data analysis reports, as well as a general...</p>
            </a>
          </div>
        </div>
        <!-- Picture -->
        <div class="col-lg-3 news-pic pr-3 p-0">
          <a href="#"><img src="{% static 'main_app/media/default_news(150x150).png' %}"></a>
        </div>
      </div>
      <hr>
      <nav class="mt-4">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bg-dark py-4">
    <div class="container">
      <h1 class="text-muted text-left col-lg-12 mt-3">Traders.am</h1>
      <div class="row mt-3">
        <div class="col-sm-6 text-left">
          <p class="text-muted">Your favourite source of market information.</p>
        </div>
        <div class="col-sm-6 text-right">
          <a href="#!">
            <p class="text-muted">For any copyright issues please contact us.</p>
          </a>
        </div>
      </div>
      <hr class="border-white">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h6 class="text-left text-muted m-0 mt-1">Robert Stepanyan &copy; All Rights Reserved.</h6>
        </div>
        <div class="col-lg-6">
          <ul class="ml-auto my-2 my-lg-0 list-inline text-right">
            <li class="list-inline-item">
              <a href="#" rel="noopener" target="_blank"><i class="far fa-envelope fa-lg text-muted"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/realtradersam/" rel="noopener" target="_blank"><i
                  class="fab fa-instagram fa-lg text-muted"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" rel="noopener" target="_blank"><i class="fab fa-facebook-f fa-1x text-muted"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock content %}