{% extends "main_app/base.html" %}
{% load static %}
{% block content %}
<section class="page-section bg-primary pb-0">
  <div class="container">
    <h1 class="mb-3 text-white">Account</h1>
  </div>
  <div class="">
    <div class="container overflow-auto">
      <div class="tab-panel" data-toggle="buttons">

        <div class='tab btn active' autocomplete="off" id="account-info">
          <div class="row">
            <h4 class="text-center w-100"><i class="fas fa-user-alt"></i></h4>
          </div>
          <input type="radio">
          <h5 class="text-center">Account Info</h5>
        </div>

        <div class='tab btn' autocomplete="off" id="watchlists">
          <div class="row">
            <h4 class="text-center w-100"><i class="fas fa-list-ul"></i></h4>
          </div>
          <input type="radio">
          <h5 class="text-center">Watchlists</h5>
        </div>

        <div class='tab btn' autocomplete="off" id="alerts">
          <div class="row">
            <h4 class="text-center w-100"><i class="fas fa-bell"></i></h4>
          </div>
          <input type="radio">
          <h5 class="text-center">Alerts</h5>
        </div>

        <div class='tab btn' autocomplete="off" id="portfolio">
          <div class="row">
            <h4 class="text-center w-100"><i class="fas fa-briefcase"></i></h4>
          </div>
          <input type="radio">
          <h5 class="text-center">Portfolio</h5>
        </div>

        <div class='tab btn' autocomplete="off" id="portfolio-builder">
          <div class="row">
            <h4 class="text-center w-100"><i class="fas fa-plus"></i></h4>
          </div>
          <input type="radio">
          <h5 class="text-center">Portfolio Builder</h5>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="page-section bg-dark">
  <div class="container" id='main-container'>
    <!-- JS -->
  </div>
</section>
{% endblock content %}
{% block bodyend %}
<script src="{% static 'main_app/js/account.js' %}"></script>
{% endblock bodyend %}