{% extends "users_app/users_base.html" %}
{% block content %}
      <h3 class="text-center mb-4">Log In</h3>
      <form class="form-signin" method="POST">
        {% csrf_token %}
        <div class="form-label-group">
          {{ form.username }}
          <label for="{{ form.username.id_for_label }}">Username</label>
          {% if form.username.errors %}
            <ul class="px-4">
            {% for error in form.username.errors %}
            <li class="text-danger font-weight-bold list-unstyled">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="form-label-group">
          {{ form.password }}
          <label for="{{ form.password.id_for_label }}">Password</label>
          {% if form.password.errors %}
            <ul class="px-4">
            {% for error in form.password.errors %}
            <li class="text-danger font-weight-bold">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="custom-control custom-checkbox mb-3">
          {{ form.remember }}
          <label class="custom-control-label" for="{{ form.remember.id_for_label }}">Remember password</label>
        </div>
        <button class="btn btn-primary btn-xl btn-block" type="submit">Log In</button>
      </form>
    </div>
  </div>
  <p class="text-white text-center">Don't have an account yet? <a href="{% url 'signup' %}" class="text-white"><u>Sign Up</u></a>
  </p>
{% endblock content %}