{% extends "users_app/users_base.html" %}
{% block content %}
<h3 class="text-center mb-3">Password Reset</h3>
<form class="form-signin" method="POST">
  {% csrf_token %}
  <div class="form-label-group">
    <input class="form-control" name="new_pass1" id="new_pass1" type="password" placeholder="New Password" autofocus="True" required>
    <label for="new_pass1">New Password</label>
  </div>
  <div class="form-label-group">
    <input class="form-control" name="new_pass2" id="new_pass2" type="password" placeholder="Confirm Password" required>
    <label for="new_pass2">Confirm Password</label>
    {% if message %}
    <ul class="px-4">
      {% for msg in message %}
        {% if valid %}
          <li class="text-success font-weight-bold list-unstyled">{{ msg }}</li>
        {% else %}
          <li class="text-danger font-weight-bold list-unstyled">{{ msg }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <button class="btn btn-primary btn-xl btn-block" type="submit">Reset</button>
</form>
{% endblock content %}