{% extends "users_app/users_base.html" %}
{% block content %}
      <h3 class="text-center mb-4">Create Your Account</h3>
      <form class="form-signin" method="POST">
        {% csrf_token %}
        <div class="form-label-group">
          {{ form.username }}
          <label for="{{ form.username.id_for_label }}">Username</label>
          {% if form.username.errors %}
            <ul class="px-4">
            {% for error in form.username.errors %}
            <li class="text-danger font-weight-bold list-unstyled">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="form-label-group">
          {{ form.email }}
          <label for="{{ form.email.id_for_label }}">Email Address</label>
          {% if form.email.errors %}
            <ul class="px-4">
            {% for error in form.email.errors %}
            <li class="text-danger font-weight-bold list-unstyled">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="form-label-group">
          {{ form.password1 }}
          <label for="{{ form.password1.id_for_label }}">Password</label>
          {% if form.password1.errors %}
            <ul class="px-4">
            {% for error in form.password1.errors %}
            <li class="text-danger font-weight-bold list-unstyled">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="form-label-group">
          {{ form.password2 }}
          <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
          {% if form.password2.errors %}
            <ul class="px-4">
            {% for error in form.password2.errors %}
            <li class="text-danger font-weight-bold list-unstyled">{{ error|escape }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>

        <button class="btn btn-primary btn-xl btn-block" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  <p class="text-white text-center">Already have an account? <a href="{% url 'login' %}" class="text-white"><u>Log In</u></a>
  </p>
{% endblock content %}
